:root{
  --left-bg-color:rgba(87,84,236,0.3);
  --right-bg-color:rgba(43,43,43,0.8);
  --left-btn-hover-color:rgba(87,84,236,1);
  --right-btn-hover-color:rgba(28,122,28,1);
  --hover-width:75%;
  --other-width:25%;
  --speed:1000ms;
}
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  margin: 0;

}
.container{
  position: relative;
  width: 100%;
  height: 100%;
  background: #333;

}
.split{
  position: absolute;
  width: 50%;
  height: 100vh;

}
h1{
  font-size: 4rem;/* rem是相对单位，自适应 */
  color: white;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;/* 字体不换行 */

}
.btn{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top:40%;
  transform: translateX(-50%);
  text-transform: uppercase;
  color: white;
  text-decoration: none;/* 下划线取消 */
  border: #fff solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  width: 15rem;
  padding: 1.5rem;

}
.split.left .btn:hover{
  background-color: var(--left-btn-hover-color);
  border-color: var(--left-btn-hover-color);

}
.split.right .btn:hover{
  background-color: var(--right-btn-hover-color);
  border-color: var(--right-btn-hover-color);
  
}
.split.left{
  left: 0;
  background: url('https://gips2.baidu.com/it/u=3392700351,1907601041&fm=3074&app=3074&f=PNG?w=2560&h=1440');
  background-repeat: no-repeat;/* 不重复 */
  background-size:cover;/* 图片宽度不够会导致图片缩放 */

}
.split.left::before{/* 俩before是加了一层滤镜 */
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--left-bg-color);

}
.split.right{
  right: 0;
  background: url('https://img0.baidu.com/it/u=1848462303,2613434976&fm=253&app=138&f=JPEG?w=889&h=500');
  background-repeat: no-repeat;/* 不重复 */
  background-size: cover;

}
.split.right::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--right-bg-color);

}
.split.left,
.split.right,
.split.left::before,
.split.right::before{
  transition: all var(--speed) ease-in-out;
}
.hover-left .left{/* hover-left一定是父元素，所以在.container上添加类名 */
  width:var(--hover-width)
}
.hover-left .right{
  width: var(--other-width);
}
.hover-right .left{
  width: var(--other-width);
}
.hover-right .right{
  width: var(--hover-width);
}
@media(max-width:800px) {/* 不超过 800时生效*/
  h1{
    font-size: 2rem;
    top: 30%;
  }
  .btn{
    padding: 1.2rem;
    width: 12rem;
  }
}