@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #222;
  overflow-x: hidden;
  margin: 0;
}

.container{
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width:  100vw;
  min-height: 100vw;
  padding: 50px;
}

.container.show-nav{
  transform: rotate(-20deg)
}
.circle-container{
  position: fixed;
  top: -100px;
  left: -100px;
}
.circle{
  background: #ff7979;
  height: 200px;
  width:200px;
  border-radius: 50%;
  position: relative;
  transition: transform  0.5s linear;
}
.container.show-nav .circle{
  transform: rotate(-70deg);/* 为什么内部的元素，没有跟着旋转？选择器少了一个空格 */

}
.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;

}
.circle button:focus{
  outline: none;

}
.circle button#open{
  left: 60%;


}
.circle button#close{
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}
.container.show-nav+nav li{
  transform: translateX(0);
  transition-delay: 0.3s;

}
nav{
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;

}
nav ul {
  list-style-type: none;
  padding-left: 30px;
}
nav ul li{
  text-transform: uppercase;/*字体变斜  */
  color: #fff;
  margin:40px 0;
  transform: translateX(-100%);/* 本来是消失的 */
}
nav ul li+li{
  margin-left: 15px;
  transform: translateX(-150%);/* 本来是消失的 */
}
nav ul li+li+li{
  margin-left: 30px;
  transform: translateX(-200%);/* 本来是消失的 */
}
nav a {
  color: #fafafa;
  text-decoration: none;
  transition: all 0.5s;
}
nav a:hover{
  color: #ff7979;
  font-weight:bold;

}
.content{
  max-width: 1000px;
  margin:50px auto;
}
.content img{
  max-width: 100%;
}
.content h1 {
  margin: 0;

}
.content small{
  color: #555;
  font-style: italic;
}
.content p{
  color:#333;
  line-height: 1.5;
}