

* {
  box-sizing: border-box;
}

body {
  background-color: steelblue;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;


}
.container{
  background-color: rgba(0,0,0,0.4);
  padding: 20px 40px;
  border-radius: 5px;

}
.container h1{
  text-align: center;
  margin-bottom: 30px;
}
.container a{
  text-decoration: none;/* 取消下滑线 */
  color: lightblue;

}
.btn{
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background-color: lightblue;
  padding: 15px;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}
.btn:focus{
  outline: line;
}
.btn:active{
  transform: scale(0.98);

}
.text{
  margin-top: 30px;
}
.form-control{
  position: relative;
  margin: 20px 0 40px ;/* 上右下左或上左右下 */
}

.form-control input{
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;

}
.form-control input:focus,
.form-control input:valid/* 输入到一半 */{
  outline: 0;/* 取消外框 */
  border-bottom-color: lightblue;
}
.form-control label{
  position: absolute;/* 绝对定位脱离文档流 增加formControl盒子的宽高保持父盒子大小*/
  top: 15px;/* 距离父盒子顶部15px,无视 input元素了*/
  left: 0;
  pointer-events: none;/* 鼠标无法选中，不要挡到选择输入框 */
}
/* 核心动画就是把每个字母用span包起来触发 这里由JS完成包裹的工作而不是直接在html里写*/
.form-control label span{
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);/*自定义贝塞尔曲线的数学函数，它精确控制动画或过渡的速度变化（缓动效果）这里是经典波浪弹跳效果  */
}
.form-control input:focus+label span,
.form-control input:valid+label span{
  color: lightblue;
  transform: translateY(-30px);
}